[package]
name = "push-relay"
version = "3.2.0"
authors = ["Danilo Bargen <danilo.bargen@threema.ch>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/threema-ch/push-relay"
edition = "2018"

[dependencies]
a2 = "0.3"
base64 = "0.10"
chrono = "0.4"
clap = "2"
env_logger = "0.6"
futures = "0.1"
hostname = "0.1"
http = "0.1"
hyper = "0.12"
hyper-tls = "0.3"
log = "0.4"
mime = "0.3"
quick-error = "1.1"
rust-ini = "0.13"
serde = "1.0.27"
serde_derive = "1.0.27"
serde_json = "1.0.10"
tokio-core = "0.1"
url = "1.7.0"

[dev-dependencies]
mockito = "0.14"
argparse = "*"
pretty_env_logger = "*"
openssl = "*"
